.map {
  width: 400px;
  height: 300px;
  border: 1px gainsboro solid;
  border-radius: 10px;
  color: dimgray;
}

.map span {
  background-color: whitesmoke;
  border-radius: 2px;
  padding: 0 4px;
  position: absolute;
}

.map svg path {
  fill: skyblue;
}

.map svg path[class=selected] {
  fill: indianred;
}

.map svg path:hover {
  fill: palevioletred;
}

@media (prefers-color-scheme: dark) {
  .map {
    border-color: gray;
    color: gray;
  }

  .map svg path {
    fill: darkslateblue;
  }

  .map span {
    background-color: maroon;
  }
}