/* ---------------- Todo  ---------------- */
.todo
  width: 250px
  height: 120px
  border: 1px gainsboro solid
  border-radius: 15px
  display: flex
  flex-direction: column
  padding: 5px

@media (prefers-color-scheme: dark)
  .todo
    border-color: gray
    color: gray

/* ---------------- Title  ---------------- */
.title
  font-weight: bold
  height: 24px

@media (prefers-color-scheme: dark)
  .title
    color: #c8c8c8

/* ---------------- Items  ---------------- */
.items
  display: flex
  flex-direction: column
  justify-content: space-around
  flex: 1
  padding-left: 5px

  p
    display: flex

    span
      margin-right: 5px

    span:nth-child(2)
      width: 200px
      border-bottom: 1px dashed #afafaf

  p:last-child
    span
      border-bottom: none

@media (prefers-color-scheme: dark)
  .items
    color: #ffffffb5

    p
      span:nth-child(2)
        border-bottom-color: #5a5a5a